<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/header :: header}"></header>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <!--Contenedor Login-->
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!--left box-->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
            <div class="featured-image mb-3">
                <img th:src="@{images/logo-login.png}" class="img-fluid" style="width: 500px;">
            </div>
            <p class="text-white fs-2" style="font-weight: 600;">Bienvenido</p>
            <p class="text-white text-wrap text-center">Tu acceso online al entretenimiento!</p>
        </div>
        <!--right box-->
        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Iniciar sesión</h2>
                    <p>Ingresa la siguiente información</p>
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="input-group mb-3">
                        <input type="text" name="username" id="username" class="form-control form-control-lg bg-light fs-6" placeholder="Correo" autofocus required>
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" name="password" id="password" class="form-control form-control-lg bg-light fs-6" placeholder="Contraseña">
                    </div>
                    <div class="input-group mb-5 d-flex">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck">
                            <label for="formCheck" class="form-check-label text-secondary"><small>Remember
                                Me </small></label>
                        </div>
                        <div class="forgot px-2">
                            <small><a href="#"> ¿Olvidaste tu contraseña?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="submit" class="btn btn-lg btn-primary w-100 fs-6" value="Login">
                        <!--<button class="btn btn-lg btn-primary w-100 fs-6">Login</button>-->
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn-lg btn-light w-100 fs-6"><img th:src="@{images/google-button.png}"
                                                                             style="width: 20px" class="me-2"><small>
                            Iniciar sesión con Google</small></button>
                    </div>
                   <!-- <input type="hidden" th:name="${_csfr.parameter}" th:value="${_csrf.token}">-->
                </form>

                <div class="row">
                    <small>¿No tienes cuenta? <a th:href="@{/register}">Registrar</a></small>
                </div>
            </div>

        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5b77b9" fill-opacity="1" d="M0,32L30,80C60,128,120,224,180,218.7C240,213,300,107,360,90.7C420,75,480,149,540,154.7C600,160,660,96,720,74.7C780,53,840,75,900,122.7C960,171,1020,245,1080,277.3C1140,309,1200,299,1260,261.3C1320,224,1380,160,1410,128L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>

<footer th:replace="~{layout/footer ::footer}"></footer>
</body>
</html>