<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/header :: header}"></header>
<div class="container mt-5 text-center">
    <h1 class="text-white" th:text="${titulo}"></h1>
    <a th:href="@{/tipoEvento/form}" class="btn btn-secondary">Agregar</a>
</div>
<div class="row mt-4 justify-content-center">
    <div class="col-md-4" th:each="tipoEvento: ${tipoEventos}">
        <div class="container">
            <div class="card">
                <div class="card-info">

                    <a class="card-title text-center">
                        <h5>
                            <span class="fw-bold" th:text="${tipoEvento.nombre}"></span>
                        </h5>
                    </a>
                    <p class="card-text"><span class="fw-bold">Descripción: </span> <span
                            th:text="${tipoEvento.descripcion}"></span></p>
                    <p class="card-text"><span class="fw-bold">Fecha de creación: </span><span
                            th:text="${tipoEvento.dateCreated}"></span></p>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-primary" th:href="@{${'/tipoEvento/form/' + tipoEvento.id}}"
                           th:text="'Editar'"></a>
                        <a class="btn btn-danger" th:href="@{${'/tipoEvento/eliminar/' + tipoEvento.id}}"
                           th:text="'Eliminar'"
                           onclick="return confirm('Estás seguro de eliminar el tipo de evento seleccionado');"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layout/footer :: footer}"></footer>

</body>
</html>