<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/head :: head}"></head>
<style>
    .container {
        border-radius: 0.5rem;
        padding: 20px;
        background: #ffffff;
    }
</style>
<body>
<header th:replace="~{layout/header :: header}"></header>

<div class="text-center">
    <h1 class="text-white" th:text="${titulo}"></h1>
</div>

<div class="container rounded-5">
    <div class="row py-2">
        <div class="col-md-6">
            <form th:action="@{/evento/form}" th:object="${evento}" method="post" id="myForm"
                  enctype="multipart/form-data">
                <input type="text" th:field="*{nombre}" class="form-control form-control-lg "
                       placeholder="Nombre del evento">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                       th:errors="*{nombre}"></small>
                <div class="form-floating py-2">
                    <input type="text" name="direccion" class="form-control form-control-lg" id="direccion"
                           placeholder="Direccion"
                           th:value="${ubicacion != null ? ubicacion.direccion : ''}">
                    <label>Dirección del evento</label>
                </div>
                <div class="form-floating py-2">
                <textarea th:field="*{descripcion}" class="form-control form-control-lg"
                          placeholder="Descripción del evento"
                          id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Descripción del evento</label>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}"
                           th:errors="*{descripcion}"></small>
                </div>
                <label>Categoría</label>
                <select th:field="*{tipoEvento}" class="form-control form-control-lg">
                    <option th:each="tipoEvento : ${tiposEvento}" th:value="${tipoEvento.id}"
                            th:text="${tipoEvento.nombre}"></option>
                </select>
                <label>Fecha</label>
                <input type="date" th:field="*{fechaEvento}" class="form-control form-control-lg">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaEvento')}"
                       th:errors="*{fechaEvento}"></small>
                <div class="row g-2">
                    <div class="col-md">
                        <label>Hora de inicio:</label>
                        <input type="time" th:field="*{horaInicio}" class="form-control form-control-lg">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('horaInicio')}"
                               th:errors="*{horaInicio}"></small>
                    </div>
                    <div class="col-md">
                        <label class="text-white">Hora de fin:</label>
                        <input type="time" th:field="*{horaFin}" class="form-control form-control-lg">
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('horaFin')}"
                               th:errors="*{horaFin}"></small>
                    </div>
                </div>
                <label>Total de entradas:</label>
                <input type="number" th:field="*{totalEntradas}" class="form-control form-control-lg">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('totalEntradas')}"
                       th:errors="*{totalEntradas}"></small>
                <label>Post publicitario</label>
                <input type="file" id="file" name="file" class="form-control form-control-lg">

                    <div class="text-center py-2">
                        <input type="submit" th:value="${evento.id != null ? 'Aceptar' : 'Crear Evento'}"
                               class="btn btn-localidad btn-lg py-2">
                        <input type="hidden" name="ubicacionId" th:value="${ubicacion != null ? ubicacion.id : ''}"/>
                    </div>


            </form>
        </div>
        <div class="col-md-6 py-2">
            <div class="map-container rounded-5" id="map" style="width: 100%; height: 600px;"></div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    initMap();
                });
            </script>
        </div>
    </div>
</div>


</div>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>

<!--AIzaSyC4MsF7JmHdM1s1G9nHHb_lLys2kiLIvCY-->