<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<div class="container mt-5">
    <h1 class="text-center" th:text="${titulo}"></h1>
</div>
<div class="container">
    <form th:action="@{/evento/form}" th:object="${evento}" method="post" class="col-md-6 mx-auto"
          enctype="multipart/form-data">
        <div class="form-group">
            <label>Nombre del evento:</label>
            <input type="text" th:field="*{nombre}" class="form-control">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
                   th:errors="*{nombre}"></small>
        </div>
        <div class="form-group">
            <label>Fecha del evento:</label>
            <input type="date" th:field="*{fechaEvento}" class="form-control">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('fechaEvento')}"
                   th:errors="*{fechaEvento}"></small>
        </div>
        <div class="form-group">
            <label>Hora de inicio:</label>
            <input type="time" th:field="*{horaInicio}" class="form-control">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('horaInicio')}"
                   th:errors="*{horaInicio}"></small>
        </div>
        <div class="form-group">
            <label>Hora de fin:</label>
            <input type="time" th:field="*{horaFin}" class="form-control">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('horaFin')}"
                   th:errors="*{horaFin}"></small>
        </div>
        <div class="form-group">
            <label>Tipo de evento:</label>
            <select th:field="*{tipoEvento}" class="form-control">
                <option th:each="tipoEvento : ${tiposEvento}" th:value="${tipoEvento.id}" th:text="${tipoEvento.nombre}"></option>
            </select>
<!--            <small class="form-text text-danger" th:if="${#fields.hasErrors('tipoEvento')}"
                   th:errors="*{tipoEvento}"></small>-->
        </div>
        <div class="form-group">
            <label>Post publicitario:</label>
            <input type="file" name="file" class="form-control">
        </div>
        <div class="form-group">
            <label>Descripción del evento:</label>
            <textarea th:field="*{descripcion}" class="form-control" rows="5"></textarea>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}"
                   th:errors="*{descripcion}"></small>
        </div>
        <div class="form-group text-center py-2">
            <input type="submit" th:value="${evento.id != null ? 'Aceptar' : 'Crear Evento'}" class="btn btn-secondary btn-lg">
        </div>
    </form>
</div>

</body>
</html>