<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/head :: head}"></head>
<body>
<head th:replace="~{layout/header :: header}"></head>
<div class="text-center">
    <h1 class="text-white" th:text="${titulo}"></h1>
</div>
<div class="row g-5 justify-content-evenly">
    <div class="col-lg-6">
        <div class="card">
            <div class="row g-0">
                <div class="col-6 col-md-5">
                    <img th:if="${#strings.length(evento.media) > 0}" class="card-img img-fluid rounded-start"
                         alt="img"
                         th:src="@{'/evento/uploads/' + ${evento.media}}"
                         th:alt="${evento.media}"/>
                </div>
                <div class="col-6 col-md-7">
                    <div class="card-body d-flex flex-column">
                        <div class="h-100">
                            <h3 class="card-title">Evento <span th:text="${evento.tipoEvento.nombre}"></span></h3>
                            <h2 class="card-title"><span th:text="${evento.nombre}"></span></h2>
                            <p class="card-text">
                                <span th:text="${evento.descripcion}"></span>
                            </p>
                            <h5 class="card-title mb-3">
                                <i class="bi bi-geo-alt"></i>
                                <strong>
                                        <span th:if="${evento.ubicacion != null}"
                                              th:text="${evento.ubicacion.nombre}"></span>
                                    <span th:unless="${evento.ubicacion != null}"> No hay ubicación asignada</span>
                                </strong>
                            </h5>

                            <h5 class="card-title mb-3"><i class="bi bi-alarm"></i>
                                <strong> <span th:text="${evento.horaInicio}"></span></strong>
                            </h5>
                            <h5 class="card-title mb-3"><i class="bi bi-calendar-event"></i>
                                <strong> <span th:text="${evento.fechaEvento}"></span></strong>
                            </h5>
                            <!--<h5 class="card-title mb-3" th:if="${evento.totalEntradas >0}"><i
                                    class="bi bi-ticket-perforated"></i>
                                <strong> <span th:text="${evento.totalEntradas}"></span></strong>
                            </h5>-->
                            <h5 class="card-title mb-3" th:if="${evento.totalEntradas > 0}">
                                <i class="bi bi-ticket-perforated"></i>
                                <strong><span th:text="${evento.totalEntradas}"></span></strong>
                                <span> Entradas disponibles</span>
                            </h5>
                            <h5 sec:authorize="hasRole('ROLE_ADMIN')" class="card-title mb-3" th:unless="${evento.totalEntradas > 0}">
                                <i class="bi bi-ticket-perforated"></i>
                                <strong><span>0</span></strong>
                                <span> Entradas disponibles</span>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                   <div sec:authorize="hasRole('ROLE_ADMIN')" class="d-flex flex-column flex-sm-column align-items-center py-2">
                        <div th:if="${evento.totalEntradas > 0}">
                            <a  class="btn btn-localidad" th:href="@{'/localidad/form/' + ${evento.id}}">Añadir
                                Localidad</a>
                        </div>
                        <div th:if="${evento.totalEntradas == 0}">
                            <p class="text-danger">Total de entradas asignadas</p>
                        </div>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="container py-sm-4">
                        <table class="table table-hover table-sm">

                            <thead class="text-center">
                            <tr>
                                <th>Localidad</th>
                                <th>N° Entradas</th>
                                <th>Valor</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="table-hover table-group-divider text-center">
                            <tr th:each="localidad: ${evento.localidades}">
                                <td th:text="${localidad.nombre}"></td>
                                <td th:text="${localidad.entradas}"></td>
                                <td th:text="'c/u $'+${localidad.precio.precio}"></td>
                                <td>
                                    <a th:href="@{${'/localidad/form/'+localidad.evento.id+'/'+localidad.id}}"
                                       class="btn btn-green btn-round btn-sm"><i
                                            class="bi bi-pencil-square"></i></a>
                                    <a th:href="@{${'/localidad/eliminar/'+localidad.evento.id+'/'+localidad.id}}"
                                       class="btn btn-red btn-round btn-sm"
                                       onclick="return confirm('Estás seguro de eliminar la localidad');"
                                    ><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                <div sec:authorize="hasRole('ROLE_ADMIN')" class="d-flex flex-column flex-sm-column align-items-center py-2">
                    <a class="btn btn-localidad" th:href="@{/evento/listar}">Salir</a>
                </div>
                <div class="d-flex flex-column flex-sm-column align-items-center py-2">
                    <a class="btn btn-localidad" th:href="@{/}">Comprar ahora <i class="bi bi-ticket-perforated-fill"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>