<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/card-head :: card-head}"></head>
<body>
<head th:replace="~{layout/layout :: header}"></head>
<div class="card">
    <img th:if="${#strings.length(evento.media) > 0}" class="img-thumbnail rounded float-left" style="max-width: 25%;"
        th:src="@{'/evento/uploads/' + ${evento.media}}" th:alt="${evento.media}">
    <div class="card-info">
        <h3 th:text="${evento.nombre}"></h3>
        <p><span class="fw-bold">Fecha:</span> <span th:text="${evento.fechaEvento}"></span></p>
        <p><span class="fw-bold">Hora inicio:</span> <span th:text="${evento.horaInicio}"></span></p>
        <p><span class="fw-bold">Hora fin:</span> <span th:text="${evento.horaFin}"></span></p>
        <p><span class="fw-bold">Tipo de evento:</span> <span th:text="${tipoEvento.nombre}"></span></p>
        <p><span class="fw-bold">Descripción:</span> <span th:text="${evento.descripcion}"></span></p>
        <p><span class="fw-bold">Entradas:</span> <span th:text="${evento.totalEntradas}"></span></p>
    </div>
    <table class="table">
        <thead class="text-center">
        <tr>
            <th>Localidad</th>
            <th>Descripción</th>
            <th>N° Entradas</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="localidad: ${evento.localidades}">
            <td th:text="${localidad.nombre}"></td>
            <td th:text="${localidad.descripcion}"></td>
            <td th:text="${localidad.entradas}"></td>
        </tr>
        </tbody>

    </table>
</div>
<footer th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>