/*Eventos*/
.card-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-bottom-right-radius: 0px;
}

.card h3{
    text-transform: uppercase;
    color: rgb(177,177,177);
    font-size: .8rem;
}

.card h5{
    font-size: 1.25rem;
}

.card p{
    line-height: 1.4em;
}
/*----------------------------------*/
/*Form Evento*/
.map-container {
    width: 100%;
    height: 600px;
    box-shadow: rgb(22, 33, 50) 0 5px 15px;
}
/*-----------------------------------------*/
/*Detalle Evento*/
.btn-localidad{
    background-color: #162132;
    color: #fff;
}

.btn-round {
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.btn-green {
    background-color: #28a745;
    color: #fff;
}

.btn-red {
    background-color: #dc3545;
    color: #fff;
}
/*-------------------------------------*/
/*Login*/
.box-area {
    width: 930px;
}

.right-box {
    padding: 40px 30px 40px 40px;

}
::placeholder {
    font-size: 16px;
}
.left-box {
    /*       background-color: #0a53be;*/
    background: url("../images/background-leftbox.png");
    background-size: cover;
}
/*--------------------------------------------*/
/*INDEX*/
.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;

}
.header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(22, 33, 50, 0.4) 0%, rgba(91, 119, 185, 0.5) 100%), url("../images/Background/background-index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: #fff;

}
.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: #5b77b9;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #162132 0%, #5b77b9 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}
.subtitulo{
    text-align: center;
    font-weight: 400;
    color: #5b77b9;
    margin-bottom:40px;
    font-size: 50px;

}
.contenedor-servicio img{
    width: 40%;
}
.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color:#fff;

}
/*--------------------------------------------*/
