<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ticket</title>
</head>
<body>
<strong><label>Boleto</label></strong>
<h1 th:text="${boleto.id}"></h1>
<strong><label>Compra</label></strong>
<h3 th:text="${boleto.compra.id}"></h3>
<strong><label>Nombre y apellido</label></strong>
<h3 th:text="${boleto.compra.usuario.nombre}"></h3>
<h3 th:text="${boleto.compra.usuario.apellido}"></h3>
<div>
    <!--cambiar por localhost:8080 buscar desde donde-->
    <img th:src="@{'file:///C:/Users/A S U S/Desktop/PayTicket/src/main/resources/pdf-resources/images/' + ${boleto.codigoQR}}"
         alt="img">

</div>

</body>
</html>

