<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/head :: head}"></head>
<body>
<header th:replace="~{layout/header :: header}"></header>
<div class="container py-4">
    <div class="row g-2 justify-content-evenly">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body d-flex flex-column">
                    <div class="h-100">
                        <h1>Mis compras</h1>
                        <table class="table table-light table-hover rounded-5">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>N° Transacción</th>
                                <th>Fecha</th>
                                <th>Evento</th>
                                <th>Localidad</th>
                                <th>Valor Unitario</th>
                                <th>Cantidad</th>
                                <th>Valor Total</th>
                                <th>Ticket</th>
                            </tr>
                            </thead>
                            <tbody class="table table-group-divider">
                            <tr th:each="compra, compraStat: ${compras}">
                                <td th:text="${compraStat.count}"></td>
                                <td th:text="${compra.idTransaccion}"></td>
                                <td th:text="${compra.fechaTransaccion}"></td>
                                <td th:text="${compra.localidad.evento.nombre}"></td>
                                <td th:text="${compra.localidad.nombre}"></td>
                                <td th:text="${compra.localidad.precio.precio}"></td>
                                <td th:text="${compra.cantidad}"></td>
                                <td th:text="${compra.monto}"></td>
                                <td>
                                    <input type="hidden" class="compra-id" th:value="${compra.id}">
                                    <a class="btn btn-success generar-ticket-btn">Generar Ticket</a>
                                    <div class="modal-advertencia" style="display: none;">
                                        <p class="text-danger">Al generar tu ticket no podrás generar otro. Verifica la
                                            información de tu compra o ponte en contacto con servicio al cliente.
                                            <small><a href="/">Inicio</a></small>
                                        </p>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkboxAceptar"
                                                   required>
                                            <label class="form-check-label" for="checkboxAceptar">Aceptar términos y
                                                condiciones</label>
                                        </div>
                                        <a class="btn btn-success btn-aceptar" disabled>Aceptar</a>
                                    </div>

                                </td>

                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<script>
    var generarTicketButtons = document.querySelectorAll('.btn.btn-success');

    generarTicketButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var compraId = this.parentNode.querySelector('.compra-id').value;
            var url = '/compras/generar/' + compraId;

            fetch(url, {
                method: 'GET'
            })
                .then(function (response) {
                    if (response.ok) {
                        console.log('Ticket generado exitosamente');
                    } else {
                        console.log('Error al generar el ticket');
                    }
                })
                .catch(function (error) {
                    console.log('Error en la solicitud: ' + error.message);
                });

            // Mostrar el modal de advertencia
            var modalAdvertencia = this.parentNode.querySelector('.modal-advertencia');
            modalAdvertencia.style.display = 'block';

            // Ocultar el botón "Generar Ticket"
            this.style.display = 'none';

            // Obtener el checkbox de aceptación y el botón "Aceptar" del modal
            var checkboxAceptar = modalAdvertencia.querySelector('#checkboxAceptar');
            var enlaceAceptar = modalAdvertencia.querySelector('.btn-aceptar');

            // Generar el enlace "/boleto/"+compraId
            enlaceAceptar.href = '/boleto/' + compraId;

            // Agregar evento de cambio al checkbox
            checkboxAceptar.addEventListener('change', function () {
                // Habilitar o deshabilitar el enlace "Aceptar" según el estado del checkbox
                enlaceAceptar.disabled = !this.checked;
            });
        });
    });
</script>

</body>
</html>